In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import numpy as np

In [2]:
tittles=[]
years=[]
certificates=[]
runtimes=[]
genres=[]
ratings=[]
metascore=[]
overview = []
directors=[]
actors=[]
listFilm=[]
count =0

In [3]:
for i in range (0,1500, 51):
  url  = "https://www.imdb.com/search/title/?title_type=feature&year=1945-01-01,2021-12-31&sort=num_votes,desc&start="+str(i)+"&ref_=adv_nxt"
  response = requests.get(url, headers={"Accept-Language": "en-US"})
  soup = BeautifulSoup(response.text, "html.parser")
  count=count+1
  movies= soup.find_all('div', class_='lister-item mode-advanced')

  for movie in movies:
    aFilm=[]
    tittle = movie.h3.find('a', href=True).text
    year = movie.h3.find('span', class_ = 'lister-item-year text-muted unbold').text
    year = year.split(" ")
    if len(year)>1:
      year=year[1]
      #tittle=tittle+year[0]
      #print(tittle,year)
    else:
      year=year[0]
    aFilm.append(tittle)
    aFilm.append(year)

    rating=float(movie.strong.text)
    aFilm.append(rating)

    nv = movie.find_all('span', attrs = {'name':'nv'})
    vote=nv[0].text
    aFilm.append(vote)
    
    meta = movie.find("div", class_="ratings-metascore")
    if meta is not None:
      metascore = meta.span.get_text()
    else:
      meta = "Unknown"
    aFilm.append(metascore)
    
    gross= nv[1].text if len(nv) > 1 else '-'
    aFilm.append(gross) 
  
    ct=movie.find_all('span', class_="certificate")
    certificate=ct[0].text
    aFilm.append(certificate)

    rt=movie.find_all('span', class_="runtime")
    runtime=rt[0].text
    aFilm.append(runtime)

    gr=movie.find_all('span', class_="genre")
    genre=gr[0].text
    genre=genre[1:]
    genre=genre[:-12]
    aFilm.append(genre)
    
    overview = movie.find_all("p", class_="text-muted")[1].text
    aFilm.append(overview)
    
    star=[]
    filminfo1=movie.find_all('p',class_='')
    f2=filminfo1[0]
    director=f2.find_all('a')[0]
    director = director.text
    
    for a in f2.find_all('a')[1:]:
      star.append(a.text)
  
    aFilm.append(star)

    if len(star) >4:
      director=star[0]+"; "+director
      del star[0]
    aFilm.append(director)
    listFilm.append(aFilm)

In [4]:
df = pd.DataFrame(listFilm, columns =['Title', 'Year', 'Rating','Vote','Metascore','Budget','Certificate','Runtime','Genre','Overview','Artist','Director'])
df.head()

,Title,Year,Rating,Vote,Metascore,Budget,Certificate,Runtime,Genre,Overview,Artist,Director
0,The Shawshank Redemption,(1994),9.3,"2,751,116",82,$28.34M,R,142 min,Drama,"\nOver the course of several years, two convic...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",Frank Darabont
1,The Dark Knight,(2008),9.0,"2,723,845",84,$534.86M,PG-13,152 min,"Action, Crime, Drama",\nWhen the menace known as the Joker wreaks ha...,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...",Christopher Nolan
2,Inception,(2010),8.8,"2,417,677",74,$292.58M,PG-13,148 min,"Action, Adventure, Sci-Fi",\nA thief who steals corporate secrets through...,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...",Christopher Nolan
3,Fight Club,(1999),8.8,"2,190,708",66,$37.03M,R,139 min,Drama,\nAn insomniac office worker and a devil-may-c...,"[Brad Pitt, Edward Norton, Meat Loaf, Zach Gre...",David Fincher
4,Forrest Gump,(1994),8.8,"2,140,219",82,$330.25M,PG-13,142 min,"Drama, Romance","\nThe presidencies of Kennedy and Johnson, the...","[Tom Hanks, Robin Wright, Gary Sinise, Sally F...",Robert Zemeckis

In [5]:
df.shape

(1500, 12)

In [6]:
df.to_csv("Movies.csv")

In [7]:
df=pd.read_csv("Movies.csv")

In [8]:
df.isna().sum()

Unnamed: 0     0
Title          0
Year           0
Rating         0
Vote           0
Metascore      0
Budget         0
Certificate    0
Runtime        0
Genre          0
Overview       0
Artist         0
Director       0
dtype: int64

In [9]:
df.shape

(1500, 13)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1500 non-null   int64
 1   Title        1500 non-null   object
 2   Year         1500 non-null   object
 3   Rating       1500 non-null   float64
 4   Vote         1500 non-null   object
 5   Metascore    1500 non-null   int64
 6   Budget       1500 non-null   object
 7   Certificate  1500 non-null   object
 8   Runtime      1500 non-null   object
 9   Genre        1500 non-null   object
 10  Overview     1500 non-null   object
 11  Artist       1500 non-null   object
 12  Director     1500 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 152.5+ KB

In [11]:
df.describe()

        Unnamed: 0       Rating    Metascore
count  1500.000000  1500.000000  1500.000000
mean    749.500000     7.172867    64.379333
std     433.157015     0.781834    16.171635
min       0.000000     1.900000    16.000000
25%     374.750000     6.600000    52.000000
50%     749.500000     7.200000    65.000000
75%    1124.250000     7.700000    76.000000
max    1499.000000     9.300000   100.000000

In [12]:
df.iloc[:59]

,Unnamed: 0,Title,Year,Rating,Vote,Metascore,Budget,Certificate,Runtime,Genre,Overview,Artist,Director
0,0,The Shawshank Redemption,(1994),9.3,"2,751,116",82,$28.34M,R,142 min,Drama,"\nOver the course of several years, two convic...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",Frank Darabont
1,1,The Dark Knight,(2008),9.0,"2,723,845",84,$534.86M,PG-13,152 min,"Action, Crime, Drama",\nWhen the menace known as the Joker wreaks ha...,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",Christopher Nolan
2,2,Inception,(2010),8.8,"2,417,677",74,$292.58M,PG-13,148 min,"Action, Adventure, Sci-Fi",\nA thief who steals corporate secrets through...,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",Christopher Nolan
3,3,Fight Club,(1999),8.8,"2,190,708",66,$37.03M,R,139 min,Drama,\nAn insomniac office worker and a devil-may-c...,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",David Fincher
4,4,Forrest Gump,(1994),8.8,"2,140,219",82,$330.25M,PG-13,142 min,"Drama, Romance","\nThe presidencies of Kennedy and Johnson, the...","['Tom Hanks', 'Robin Wright', 'Gary Sinise', '...",Robert Zemeckis
5,5,Pulp Fiction,(1994),8.9,"2,113,442",95,$107.93M,R,154 min,"Crime, Drama","\nThe lives of two mob hitmen, a boxer, a gang...","['John Travolta', 'Uma Thurman', 'Samuel L. Ja...",Quentin Tarantino
6,6,The Matrix,(1999),8.7,"1,961,283",73,$171.48M,R,136 min,"Action, Sci-Fi",\nWhen a beautiful stranger leads computer hac...,"['Keanu Reeves', 'Laurence Fishburne', 'Carrie...",Lilly Wachowski; Lana Wachowski
7,7,The Lord of the Rings: The Fellowship of the Ring,(2001),8.8,"1,918,805",92,$315.54M,PG-13,178 min,"Action, Adventure, Drama",\nA meek Hobbit from the Shire and eight compa...,"['Elijah Wood', 'Ian McKellen', 'Orlando Bloom...",Peter Jackson
8,8,Interstellar,(2014),8.7,"1,916,598",74,$188.02M,PG-13,169 min,"Adventure, Drama, Sci-Fi",\nWhen Earth becomes uninhabitable in the futu...,"['Matthew McConaughey', 'Anne Hathaway', 'Jess...",Christopher Nolan
9,9,The Godfather,(1972),9.2,"1,913,676",100,$134.97M,R,175 min,"Crime, Drama","\nDon Vito Corleone, head of a mafia family, d...","['Marlon Brando', 'Al Pacino', 'James Caan', '...",Francis Ford Coppola
10,10,The Lord of the Rings: The Return of the King,(2003),9.0,"1,890,201",94,$377.85M,PG-13,201 min,"Action, Adventure, Drama",\nGandalf and Aragorn lead the World of Men ag...,"['Elijah Wood', 'Viggo Mortensen', 'Ian McKell...",Peter Jackson
11,11,The Dark Knight Rises,(2012),8.4,"1,744,554",78,$448.14M,PG-13,164 min,"Action, Drama, Thriller",\nEight years after the Joker's reign of chaos...,"['Christian Bale', 'Tom Hardy', 'Anne Hathaway...",Christopher Nolan
12,12,The Lord of the Rings: The Two Towers,(2002),8.8,"1,705,987",87,$342.55M,PG-13,179 min,"Action, Adventure, Drama",\nWhile Frodo and Sam edge closer to Mordor wi...,"['Elijah Wood', 'Ian McKellen', 'Viggo Mortens...",Peter Jackson
13,13,Se7en,(1995),8.6,"1,701,105",65,$100.13M,R,127 min,"Crime, Drama, Mystery","\nTwo detectives, a rookie and a veteran, hunt...","['Morgan Freeman', 'Brad Pitt', 'Kevin Spacey'...",David Fincher
14,14,Django Unchained,(2012),8.4,"1,602,626",81,$162.81M,R,165 min,"Drama, Western","\nWith the help of a German bounty-hunter, a f...","['Jamie Foxx', 'Christoph Waltz', 'Leonardo Di...",Quentin Tarantino
15,15,Gladiator,(2000),8.5,"1,538,660",67,$187.71M,R,155 min,"Action, Adventure, Drama",\nA former Roman General sets out to exact ven...,"['Russell Crowe', 'Joaquin Phoenix', 'Connie N...",Ridley Scott
16,16,Batman Begins,(2005),8.2,"1,505,717",70,$206.85M,PG-13,140 min,"Action, Crime, Drama","\nAfter witnessing his parents' death, Bruce l...","['Christian Bale', 'Michael Caine', 'Ken Watan...",Christopher Nolan
17,17,Inglourious Basterds,(2009),8.3,"1,494,815",69,$120.54M,R,153 min,"Adventure, Drama, War","\nIn Nazi-occupied France during World War II,...","['Brad Pitt', 'Diane Kruger', 'Eli Roth', 'Mél...",Quentin Tarantino
18,18,The Silence of the Lambs,(1991),8.6,"1,470,061",86,$130.74M,R,118 min,"Crime, Drama, Thriller",\nA young F.B.I. cadet must receive the help o...,"['Jodie Foster', 'Anthony Hopkins', 'Lawrence ...",Jonathan Demme
19,19,The Wolf of Wall Street,(2013),8.2,"1,466,787",75,$116.90M,R,180 min,"Biography, Comedy, Crime","\nBased on the true story of Jordan Belfort, f...","['Leonardo DiCaprio', 'Jonah Hill', 'Margot Ro...",Martin Scorsese
20,20,Saving Private Ryan,(1998),8.6,"1,425,912",91,$216.54M,R,169 min,"Drama, War","\nFollowing the Normandy Landings, a group of ...","['Tom Hanks', 'Matt Damon', 'Tom Sizemore', 'E...",Steven Spielberg
21,21,The Avengers,(2012),8.0,"1,417,891",69,$623.28M,PG-13,143 min,"Action, Sci-Fi",\nEarth's mightiest heroes must come together ...,"['Robert Downey Jr.', 'Chris Evans', 'Scarlett...",Joss Whedon
22,22,Star Wars: Episode IV - A New Hope,(1977),8.6,"1,395,768",90,$322.74M,PG,121 min,"Action, Adventure, Fantasy",\nLuke Skywalker joins forces with a Jedi Knig...,"['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...",George Lucas
23,23,Schindler's List,(1993),9.0,"1,387,353",95,$96.90M,R,195 min,"Biography, Drama, History",\nIn German-occupied Poland during World War I...,"['Liam Neeson', 'Ralph Fiennes', 'Ben Kingsley...",Steven Spielberg
24,24,The Prestige,(2006),8.5,"1,366,922",66,$53.09M,PG-13,130 min,"Drama, Mystery, Sci-Fi","\nAfter a tragic accident, two stage magicians...","['Christian Bale', 'Hugh Jackman', 'Scarlett J...",Christopher Nolan
25,25,Shutter Island,(2010),8.2,"1,364,072",63,$128.01M,R,138 min,"Mystery, Thriller","\nTeddy Daniels and Chuck Aule, two US marshal...","['Leonardo DiCaprio', 'Emily Mortimer', 'Mark ...",Martin Scorsese
26,26,Joker,(2019),8.4,"1,358,686",59,$335.45M,R,122 min,"Crime, Drama, Thriller","\nThe rise of Arthur Fleck, from aspiring stan...","['Joaquin Phoenix', 'Robert De Niro', 'Zazie B...",Todd Phillips
27,27,The Departed,(2006),8.5,"1,358,622",85,$132.38M,R,151 min,"Crime, Drama, Thriller",\nAn undercover cop and a mole in the police a...,"['Leonardo DiCaprio', 'Matt Damon', 'Jack Nich...",Martin Scorsese
28,28,Avatar,(2009),7.9,"1,344,408",83,$760.51M,PG-13,162 min,"Action, Adventure, Fantasy",\nA paraplegic Marine dispatched to the moon P...,"['Sam Worthington', 'Zoe Saldana', 'Sigourney ...",James Cameron
29,29,The Green Mile,(1999),8.6,"1,337,733",61,$136.80M,R,189 min,"Crime, Drama, Fantasy","\nA tale set on death row in a Southern jail, ...","['Tom Hanks', 'Michael Clarke Duncan', 'David ...",Frank Darabont
30,30,Star Wars: Episode V - The Empire Strikes Back,(1980),8.7,"1,323,427",82,$290.48M,PG,124 min,"Action, Adventure, Fantasy",\nAfter the Rebels are overpowered by the Empi...,"['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...",Irvin Kershner
31,31,The Godfather Part II,(1974),9.0,"1,303,269",90,$57.30M,R,202 min,"Crime, Drama",\nThe early life and career of Vito Corleone i...,"['Al Pacino', 'Robert De Niro', 'Robert Duvall...",Francis Ford Coppola
32,32,Memento,(2000),8.4,"1,265,480",81,$25.54M,R,113 min,"Mystery, Thriller",\nA man with short-term memory loss attempts t...,"['Guy Pearce', 'Carrie-Anne Moss', 'Joe Pantol...",Christopher Nolan
33,33,Back to the Future,(1985),8.5,"1,241,390",87,$210.61M,PG,116 min,"Adventure, Comedy, Sci-Fi","\nMarty McFly, a 17-year-old high school stude...","['Michael J. Fox', 'Christopher Lloyd', 'Lea T...",Robert Zemeckis
34,34,Guardians of the Galaxy,(2014),8.0,"1,222,403",76,$333.18M,PG-13,121 min,"Action, Adventure, Comedy",\nA group of intergalactic criminals must pull...,"['Chris Pratt', 'Vin Diesel', 'Bradley Cooper'...",James Gunn
35,35,Titanic,(1997),7.9,"1,220,936",75,$659.33M,PG-13,194 min,"Drama, Romance",\nA seventeen-year-old aristocrat falls in lov...,"['Leonardo DiCaprio', 'Kate Winslet', 'Billy Z...",James Cameron
36,36,Goodfellas,(1990),8.7,"1,194,100",92,$46.84M,R,145 min,"Biography, Crime, Drama",\nThe story of Henry Hill and his life in the ...,"['Robert De Niro', 'Ray Liotta', 'Joe Pesci', ...",Martin Scorsese
37,37,Léon: The Professional,(1994),8.5,"1,191,408",64,$19.50M,R,110 min,"Action, Crime, Drama",\n12-year-old Mathilda is reluctantly taken in...,"['Jean Reno', 'Gary Oldman', 'Natalie Portman'...",Luc Besson
38,38,Avengers: Endgame,(2019),8.4,"1,183,887",78,$858.37M,PG-13,181 min,"Action, Adventure, Drama",\nAfter the devastating events of Avengers: In...,"['Robert Downey Jr.', 'Chris Evans', 'Mark Ruf...",Joe Russo; Anthony Russo
39,39,American Beauty,(1999),8.3,"1,174,744",84,$130.10M,R,122 min,Drama,\nA sexually frustrated suburban father has a ...,"['Kevin Spacey', 'Annette Bening', 'Thora Birc...",Sam Mendes
40,40,Pirates of the Caribbean: The Curse of the Bla...,(2003),8.1,"1,155,530",63,$305.41M,PG-13,143 min,"Action, Adventure, Fantasy",\nBlacksmith Will Turner teams up with eccentr...,"['Johnny Depp', 'Geoffrey Rush', 'Orlando Bloo...",Gore Verbinski
41,41,WALL·E,(2008),8.4,"1,145,287",95,$223.81M,G,98 min,"Animation, Adventure, Family","\nIn the distant future, a small waste-collect...","['Ben Burtt', 'Elissa Knight', 'Jeff Garlin', ...",Andrew Stanton
42,42,American History X,(1998),8.5,"1,144,809",62,$6.72M,R,119 min,"Crime, Drama","\nLiving a life marked by violence, neo-Nazi D...","['Edward Norton', 'Edward Furlong', ""Beverly D...",Tony Kaye
43,43,Kill Bill: Vol. 1,(2003),8.2,"1,142,441",69,$70.10M,R,111 min,"Action, Crime, Drama","\nAfter awakening from a four-year coma, a for...","['Uma Thurman', 'David Carradine', 'Daryl Hann...",Quentin Tarantino
44,44,V for Vendetta,(2005),8.2,"1,142,074",62,$70.51M,R,132 min,"Action, Drama, Sci-Fi","\nIn a future British dystopian society, a sha...","['Hugo Weaving', 'Natalie Portman', 'Rupert Gr...",James McTeigue
45,45,Avengers: Infinity War,(2018),8.4,"1,127,009",68,$678.82M,PG-13,149 min,"Action, Adventure, Sci-Fi",\nThe Avengers and their allies must be willin...,"['Robert Downey Jr.', 'Chris Hemsworth', 'Mark...",Joe Russo; Anthony Russo
46,46,Terminator 2: Judgment Day,(1991),8.6,"1,125,006",75,$204.84M,R,137 min,"Action, Sci-Fi","\nA cyborg, identical to the one who failed to...","['Arnold Schwarzenegger', 'Linda Hamilton', 'E...",James Cameron
47,47,The Truman Show,(1998),8.2,"1,119,465",90,$125.62M,PG,103 min,"Comedy, Drama",\nAn insurance salesman discovers his whole li...,"['Jim Carrey', 'Ed Harris', 'Laura Linney', 'N...",Peter Weir
48,48,The Usual Suspects,(1995),8.5,"1,105,808",77,$23.34M,R,106 min,"Crime, Drama, Mystery",\nThe sole survivor of a pier shoot-out tells ...,"['Kevin Spacey', 'Gabriel Byrne', 'Chazz Palmi...",Bryan Singer
49,49,The Lion King,(1994),8.5,"1,087,529",88,$422.78M,G,88 min,"Animation, Adventure, Drama",\nLion prince Simba and his father are targete...,"['Matthew Broderick', 'Jeremy Irons', 'James E...",Rob Minkoff; Roger Allers
50,50,Iron Man,(2008),7.9,"1,084,166",79,$318.41M,PG-13,126 min,"Action, Adventure, Sci-Fi","\nAfter being held captive in an Afghan cave, ...","['Robert Downey Jr.', 'Gwyneth Paltrow', 'Terr...",Jon Favreau
51,51,Star Wars: Episode VI - Return of the Jedi,(1983),8.3,"1,079,326",58,$309.13M,PG,131 min,"Action, Adventure, Fantasy","\nAfter rescuing Han Solo from Jabba the Hutt,...","['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...",Richard Marquand
52,52,Up,(2009),8.3,"1,071,653",88,$293.00M,PG,96 min,"Animation, Adventure, Comedy",\n78-year-old Carl Fredricksen travels to Para...,"['Edward Asner', 'Jordan Nagai', 'John Ratzenb...",Bob Peterson; Pete Docter
53,53,Deadpool,(2016),8.0,"1,069,905",65,$363.07M,R,108 min,"Action, Comedy",\nA wisecracking mercenary gets experimented o...,"['Ryan Reynolds', 'Morena Baccarin', 'T.J. Mil...",Tim Miller
54,54,Finding Nemo,(2003),8.2,"1,068,340",90,$380.84M,G,100 min,"Animation, Adventure, Comedy",\nAfter his son is captured in the Great Barri...,"['Albert Brooks', 'Ellen DeGeneres', 'Alexande...",Lee Unkrich; Andrew Stanton
55,55,Braveheart,(1995),8.3,"1,056,967",68,$75.60M,R,178 min,"Biography, Drama, History",\nScottish warrior William Wallace leads his c...,"['Mel Gibson', 'Sophie Marceau', 'Patrick McGo...",Mel Gibson
56,56,The Shining,(1980),8.4,"1,051,103",66,$44.02M,R,146 min,"Drama, Horror",\nA family heads to an isolated hotel for the ...,"['Jack Nicholson', 'Shelley Duvall', 'Danny Ll...",Stanley Kubrick
57,57,Reservoir Dogs,(1992),8.3,"1,044,456",81,$2.83M,R,99 min,"Crime, Thriller",\nWhen a simple jewelry heist goes horribly wr...,"['Harvey Keitel', 'Tim Roth', 'Michael Madsen'...",Quentin Tarantino
58,58,Eternal Sunshine of the Spotless Mind,(2004),8.3,"1,032,756",89,$34.40M,R,108 min,"Drama, Romance, Sci-Fi","\nWhen their relationship turns sour, a couple...","['Jim Carrey', 'Kate Winslet', 'Tom Wilkinson'...",Michel Gondry